
.container {
	width: 600px;
}

#brand {
	font-size: 38.5px;
	line-height: 40px;
	margin: 40px 0 20px 0;
}

#brand a {
    color: #333;
    text-decoration: none;
}

#thisAlot {
	width: 400px;
	margin:auto;
    text-align: center;
}

#thisAlot .twitter-share-button {
	float: right;
}

#thisAlot .alot {
	clear: both;
	margin: 20px 0;
	float: left;
	
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#thisAlot .alot.generating, #thisAlot .alot.error {
    height: 294px;
    width: 400px;
    position: relative;
}

#thisAlot .alot .message {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;

    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
}

#thisAlot h2 {
    font-size: 23px;
}

#howIsAlotFormed {
	clear: both;
}

#howIsAlotFormed .prefix {
	font-size: 20px;
	line-height: 32px;
}

.input-boxes {
	width: 400px;
	float: left;
	position: relative;
	margin: 20px 0 20px;
}

.input-boxes input {
	width: 386px;
}

.make-alot-button {
	margin: 20px 0 0 20px;
	width: 100px;
	height: 70px;
	float: left;
}
