
#navbar .navbar-inner {
    background: #222;
}

#header .brand {
    color: #ccc;
}
#header .brand:hover {
    color: #eee;
}

#main-content {
    margin-top: 60px;
}

@media (max-width:979px) {
    #main-content {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    #thisAlot {
        margin-bottom: 20px;
    }
}

@media (min-width: 979px) {
    #thisAlot {
        width: auto;
    }

    #howIsAlotFormed {
        width: 520px;
    }
}

@media (min-width: 1200px) {
    #howIsAlotFormed {
        width: 740px;
    }
}

#thisAlot .sharing {
    margin-top: 10px;
}

#thisAlot .sharing .twitter-share-button {
    float: left;
    margin-bottom: 5px;
}

#thisAlot .sharing .share-link {
    white-space: nowrap;
}

#howIsAlotFormed {
    background: #fffd76;
}

#howIsAlotFormed .padding-box {
    padding: 10px 20px;
}

#thisAlot .alot {
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#thisAlot .alot.generating, #thisAlot .alot.error {
    height: 294px;
    width: 400px;
    position: relative;
}

#thisAlot .alot .message {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;

    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;

    text-align: center;
}

#thisAlot h2 {
    font-size: 23px;
}

#howIsAlotFormed .prefix {
	font-size: 20px;
	line-height: 32px;
    margin-bottom: 10px;
}

#howIsAlotFormed form {
    position: relative;
    margin-bottom: 10px;
}

.input-boxes {
	position: relative;
    display: inline;
}

.input-boxes input {
    font-size: 16px;
    padding: 11px 12px;
}

.input-boxes .word-input {
    width: 180px;
}
.input-boxes .image-input {
    width: 220px;
}
.make-alot-button {
    margin-bottom: 10px;
    max-width: 300px;
}

.alot-list {
    margin-top: 20px;
}

.alot-list .alot-list-item {
    float: left;
    display: block;
    padding: 5px;
    width: 25%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid white;
}

@media (max-width: 979px) and (min-width: 768px) {
    .alot-list .alot-list-item {
        width: 33%;
    }
}

@media (max-width: 767px) {
    .alot-list .alot-list-item {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .alot-list .alot-list-item {
        width: auto;
    }
}

.alot-list .alot-list-item .alot {
    margin-bottom: 5px;
}

.alot-list .alot-list-item:hover {
    border-color: #ddd;
}

.alot-list .alot-list-item .rating-stats {
    float: left;
    line-height: 30px;
}

.alot-list .alot-list-item .rating-stats .up-votes,
.alot-list .alot-list-item .rating-stats .down-votes {
    margin-left: 10px;
}

.alot-list .alot-list-item .rating-buttons {
    float: left;
}

.alot-list .alot-list-item .rating-buttons button {
    background: white;
    border: 1px solid #eee;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.alot-list .alot-list-item .down-vote {

}

.alot-list .alot-list-item .up-vote {

}

.alot-list .alot-list-item .added-date {
    font-size: 12px;
    float: right;
    line-height: 30px;
    color: #666;
}

@media (max-width: 767px) {
    .alot-list {

    }
}

#footer {
    margin-top: 20px;
    height: 40px;
    background: #eee;
    line-height: 40px;
    font-size: 12px;
    color: #666;
}

#footer a {
    color: #666;
}