#header {
    margin: 0;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 6px;
    height: 40px;
    line-height: 40px;
    font-size: 36px;
}
#header .brand {
    color: #eee;
    text-decoration: none;
}
#header .brand:hover {
    color: #fff;
}

#main-content {
    margin-top: 40px;
}

@media (max-width:979px) {
    #header {
        font-size: 28px;
        line-height: 32px;
        height: 32px;
    }

    #main-content {
        margin-top: 32px;
    }
}

#thisAlot, #howIsAlotFormed {
    margin-top: 20px;
}

@media (min-width: 979px) {
    #thisAlot {
        width: auto;
    }

    #howIsAlotFormed {
        width: 520px;
    }
}

@media (min-width: 1200px) {
    #howIsAlotFormed {
        width: 740px;
    }
}

#howIsAlotFormed {

}

#thisAlot .twitter-share-button {
	float: right;
}

.alot {
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#thisAlot .alot.generating, #thisAlot .alot.error {
    height: 294px;
    width: 400px;
    position: relative;
}

#thisAlot .alot .message {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;

    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
}

#thisAlot h2 {
    font-size: 23px;
}

#howIsAlotFormed .prefix {
	font-size: 20px;
	line-height: 32px;
}

#howIsAlotFormed form {
    position: relative;
    margin-top: 20px;
}

.input-boxes {
	position: relative;
	margin-right: 172px;
}

.input-boxes input {
	width: 100%;
}

.make-alot-button {
    margin: 0;
	width: 150px;
	height: 70px;
	position: absolute;
    right: 0;
    top: 0;
}

.alot-list {
    margin-top: 20px;
}

.alot-list .alot-list-item {
    float: left;
    display: block;
    padding: 5px;
    width: 25%;
    box-sizing: border-box;
}

@media (max-width: 979px) and (min-width: 768px) {
    .alot-list .alot-list-item {
        width: 33%;
    }
}

@media (max-width: 767px) {
    .alot-list .alot-list-item {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .alot-list .alot-list-item {
        width: auto;
    }
}

.alot-list .alot-list-item .alot {
    border: 1px solid #fff;
}

.alot-list .alot-list-item:hover .alot {
    border-color: #ddd;
}

@media (max-width: 767px) {
    .alot-list {

    }
}