
# prevent access to files beginning with . or ini files
<files ~ "(^\..*$)|(.*\.ini$)">
  order deny,allow
  deny from all
</files>

# prevent reading .git directory
RewriteEngine On
RewriteRule "^(.*/)?\.git/" - [F,L]
