
# prevent access to files beginning with . or ini files
<files ~ "(^\..*$)|(.*\.ini$)">
  order deny,allow
  deny from all
</files>

# rewrite to index.php
RewriteEngine On
# RewriteBase /application_path/
RewriteBase /alot/
RewriteCond $1 !^(index\.php|js|css|img|tmp|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
